{% extends "auctions/layout.html" %}

{% block body %}
    <div class="w3-display-container" style="height:100vh;">
        <div class="w3-display-middle">
            <form action="{% url 'auctions:listing-delete' object.id %}" method="post">
                {% csrf_token %}
                <p class="w3-xlarge">Are you sure you want to delete "{{ object.title }}"?</p>
                <input class="w3-button w3-red w3-margin" type="submit" value="Confirm">
            </form>
            <form action="{% url 'auctions:listing-detail' object.id %}" method="get">
                {% csrf_token %}
                <input class="w3-button w3-teal w3-margin" type="submit" value="Cancel">
            </form>
        </div>
    </div>
{% endblock %}

