{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, width=device-width" />

        <title>
            {% block title %}SUDOKU{% endblock %}
        </title>

        {% block icon %}
        {% endblock %}

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/1482812741.js"></script>
        <link href="{% static 'hub/w3.css' %}" rel="stylesheet">
        <link href="{% static 'hub/styles.css' %}" rel="stylesheet">

        {% block hub_add_style %}
        {% endblock %}

        {% block hub_add_script_h %}
        {% endblock %}
</head>
<body>

<div id="messages">
{% block message %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert {% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show py-0" role="alert">
				{{ message }}
				<button type="button" class="close py-0" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}
</div>

<div id="body">
{% block body %}
{% endblock %}
</div>

{% block footer %}
    <footer>
        <div class="w3-panel w3-light-gray w3-center w3-bottom m-0">
        © ANDY'S 2020
        </div>
    </footer>
{% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
