{% extends "hub/layout.html" %}

{% load static %}

{% block title %}REACT{% endblock %}

{% block icon %}
    <link rel="shortcut icon" href="{% static 'react/react_32.png' %}" type="image/png">
{% endblock %}

{% block home_link %}
    {{ block.super }}
    <div class="menu-icon">
        <a href="{% url 'react:index' %}">
            <img src="{% static 'react/react_60.png' %}">
        </a>
    </div>
    {% include "account/include_account_groups_menu.html" %}
{% endblock %}

{% block right %}
{% endblock %}

{% block bottom_script %}
    {{ block.super }}
    <script src="{% static 'react/js/init.js' %}"></script>
{% endblock %}
