@font-face {
  font-family: "Open Sans";
  src: url("Christies.woff") format("woff");
}

body * {
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
}

.navbar * {
    color: black !important;
}
.nav-link {
    /*border-left: 1px solid black; !important;*/
    /*border-top: 1px solid black; !important;*/
    /*border-right: 1px solid black; !important;*/
    /*padding-top: 0;*/
    /*margin-bottom: -1px !important;*/
    /*margin-left:3px !important;*/
    /*border-bottom: 1px solid black; !important;*/
    background-color: #f2f2f2 !important;
}
.admin {
    /*background-color: #ffffcc !important;*/
}
.nav-green {
    background-color: #ccffcc !important;
}
.nav-group {
    /*background-color: #ccffff !important;*/
}

.navbar-text {
    padding-top: 0;
}
.nav-link:hover, .dropdown-item:hover {
    background-color: white !important;
    border-bottom: 1px solid white !important;
    color: red !important;
}
.nav-link[current="yes"] {
    background-color: white !important;
    border-bottom: 1px solid white !important;
    color: #b30000 !important;
}
.navbar-collapse {
    border-bottom: 1px solid black; !important;
    margin-left:3px !important;
}
a {
    text-decoration: underline;
}

.control {
    height: 30px;
    min-width: 30px;
    margin: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    display: inline-block;
}



