{% extends "account/layout.html" %}

{% load static %}

{% load account_extras %}

{% block section %}
    <h4>Group {{ group.name }} Update</h4>
    <div class="container-fluid bg-secondary m-0 p-0">

        <section class="d-flex flex-row flex-wrap justify-content-between bg-secondary">
        	<div class="card col my-1 p-0">
                <div class="card-header">
        	        <i class='fas fa-arrow-alt-circle-left' style='font-size:24px;color:green'></i> - add user, <i class='fas fa-arrow-alt-circle-right' style='font-size:24px;color:red'></i> - remove
        	   </div>
        	   <div class="card-body p-0">
                    <form class="w3-container w3-large" method="post">
                        {% csrf_token %}
                        <table>
                            <tr>
                                <td>{{ form.name }}</td>
                                <td><input class="btn btn-primary my-2" type="submit" value="SAVE"></td>
                            </tr>
                            <tr><td style="display: none;">{{ form.members }}</td></tr>
                        </table>
                    </form>
                </div>
            </div>
        </section>

        <section class="d-flex flex-row flex-wrap justify-content-between">
        	<div class="card col-6 mb-1 px-2">
                <div class="card-header d-flex flex-row justify-content-between">
        	        In group [{{ count }}]
        	   </div>
        	   <div class="card-body">
                    <table>
                        {% for user in users_not_in_group %}
                            {% if not user in members %}
                                <tr>
                                    <td t="td" mid="{{ user.id }}" style="display: none;">
                                        <i t="i" class='fas fa-arrow-alt-circle-right remove' mid="{{ user.id }}" style='font-size:24px;color:red'></i>
                                        <span id="name_{{ user.id }}">{{ user.username|tospace:"_" }}</span>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td t="td" mid="{{ user.id }}">
                                        <i t="i" class='fas fa-arrow-alt-circle-right remove' mid="{{ user.id }}" style='font-size:24px;color:red'></i>
                                        <span id="name_{{ user.id }}">{{ user.username|tospace:"_" }}</span>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                     </table>
        		</div>
            </div>

        	<div class="card col-6 mb-1 px-2">
                <div class="card-header d-flex flex-row justify-content-between">
        	        Other users [{{ users_count }}]
        	   </div>
        	   <div class="card-body">
                    <table>
                        {% for user in users_not_in_group %}
                            {% if user in members %}
                                <tr>
                                    <td t="td" uid="{{ user.id }}" style="display: none;">
                                        <i t="i" class='fas fa-arrow-alt-circle-left add' uid="{{ user.id }}" style='font-size:24px;color:green'></i>
                                        {{ user.username|tospace:"_" }}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td t="td" uid="{{ user.id }}">
                                        <i t="i" class='fas fa-arrow-alt-circle-left add' uid="{{ user.id }}" style='font-size:24px;color:green'></i>
                                        {{ user.username|tospace:"_" }}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                     </table>
        		</div>
            </div>
        </section>
    </div>
{% endblock %}

{% block script %}
    <script>document.addEventListener('DOMContentLoaded', function() { setCurrent('groups'); });</script>
    <script src="{% static 'account/group_update.js' %}"></script>
{% endblock %}

